@model Tarea4Topicos.Models.TipoVehiculo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>Id Vehiculo</th>
            <th>Placa</th>
            <th>Año</th>

        </tr>
        @foreach (var item in Model.ListaVehiculos)
        {
            <tr>
                <td>@item.VehiculoId</td>
                <td>
                    @item.Placa
                </td>
                <td >
                    @item.Anio
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoVehiculoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
