@model Tarea4Topicos.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoVehiculoRef.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoVehiculoRef.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehiculoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
