@model Tarea4Topicos.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>Id Estacionamiento</th>
            <th>Parqueo</th>
            <th>Total a Pagar</th>


        </tr>
        @foreach (var item in Model.ListaEstacionamientos)
        {
    <tr>
        <td>@item.EstacionamientoId</td>
        <td>@item.ParqueoId.Descripcion</td>
        <td>@item.TotalAPagar</td>


    </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehiculoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
